
body {
    color: #ccc;
    background-color: #333;
    box-sizing: border-box;
}


.container {
}


#game {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -125px;
}

#squares {
    border-spacing: 6px;
}

#squares td {
    height: 100px;
    width: 100px;
    /* border: 1px solid black; */
    /* box-shadow: 2px 2px #222; */
}
#squares td:hover {
    outline: 1px dotted gray;
}
#squares td:active {
    position: relative;
    top: 1px;
    left: 1px;
}

#color1 {background: #800;}
#color2 {background: #080;}
#color3 {background: #850;}
#color4 {background: #048;}

#color1.lit {background: #f00;}
#color2.lit {background: lime;}
#color3.lit {background: #fa0;}
#color4.lit {background: #00a0ff;}


#controls {
    text-align: center;
}




a#start {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
    color: red;
text-decoration: none;
}


.vis-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

label {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
    cursor: pointer;
}

input:checked + label {
    border-color: yellow;
    color: yellow;
}

/* input:focus + label { */
/*   border-color: blue; */
/* } */

/* input:focus:checked + label { */
/*   border-color: green; */
/* } */

/* input:active + label { */
/*   border-color: yellow; */
/* } */

