body {
  color: #ccc;
  background-color: #333;
  box-sizing: border-box;
}

.container {
}


#game {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -100px;
}

#squares {
  border-spacing: 6px;
}

#squares td {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}
#squares td:hover {
  border: 1px dotted gray;
}
#squares td:active {
  position: relative;
  top: 2px;
  left: 2px;
}

#color1 {
  background: red;
}
#color2 {
  background: lime;
}
#color3 {
  background: #fa0;
}
#color4 {
  background: #08f;
}


#controls {
    text-align: center;
}


